<div class="page-header">
  <%= link_to new_merchandiser_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo
  <% end %>
  <h1>Lista fornecedoress</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Nome</th>
            <th>Telefone</th>
            <th>Email</th>
            <th>Site</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @merchandiseres) do |merchandiser| %>
            <td><%= merchandiser.name %></td>
            <td><%= merchandiser.phone %></td>
            <td><%= merchandiser.email %></td>
            <td><%= merchandiser.site %></td>
            <td><%= link_to 'Mostrar', merchandiser %></td>
        <td><%= link_to 'Editar', edit_merchandiser_path(merchandiser) %></td>
        <td><%= link_to 'Apagar', merchandiser, method: :delete, data: { confirm: 'Confirma?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
